.tab-content>.tab-pane {
    width: 40%;
    display: column;
    background-color: white;
    border: 1px solid #e2e2e2;
    border-top: none;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding-bottom: 2%;
    padding-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs .nav-item {
    margin-bottom: -1px;
    width: 50%;
    text-align: center;
}

.container-fluid{
    padding-bottom: 2%;
}

.justify-content-end .nav-item{
    margin-top: 8px;
    margin-left: 20px;
    margin-right: 10px;
}

.justify-content-end .nav-item:last-child{
    margin-right: 20px;
}

.nav-item img{
        
        width:30px; 
        height:30px; 
        border-radius: 15px;
        margin-right: 10px;
}